@charset "UTF-8";
/*création des breakpoints*/
/*vue tablette*/
/*vue desktop*/
/*création des variables media queries utilisant les breakpoints*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------page d'accueil----------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/
/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/
/*-------------------------------------------          --------------------------------------------------------------------------*/
/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/
/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/
/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/
.header-logo img {
  /* erreur w3c dans le html*/
  width: auto;
  height: auto;
}

/* -----------------------------------------------------------tablette header-----------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .main-navbar a {
    color: black;
  }
  .main-navbar a .fa {
    color: #e54858;
  }
  .main-navbar a .fa:hover {
    color: white;
  }
  .topnav a {
    font-size: 25px;
  }
}

/* --------------------------------------------------------mobile header---------------------------------------------*/
@media only screen and (max-width: 480px) {
  .topnav a.icon {
    margin-top: 5px;
  }
  .main-navbar span {
    font-size: 13px;
  }
  .header-logo img {
    width: 150px;
    position: absolute;
    margin-top: -10px;
    left: 30px;
  }
  #myTopnav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .topnav a {
    font-size: 20px;
  }
  .icon a {
    font-size: 20px;
  }
  .main-navbar a {
    color: black;
  }
  .main-navbar a .fa {
    color: #e54858;
  }
  .main-navbar a .fa:hover {
    color: white;
  }
}

/*---------------------------------------------   --------  ----------------------------------------------------------------------*/
/*----------------------------------------------  -  ---  -  -----------------------------------------------------------------------*/
/*----------------------------------------------  --  -  --  -----------------------------------------------------------------------*/
/*----------------------------------------------  ---   ---  ------------------------------------------------------------------------*/
/*----------------------------------------------  ---------  -main--------------------------------------------------------------------*/
/* --------------------------------------------------------------------tablette main-------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .hero-headline {
    font-size: 70px;
    font-weight: bolder;
  }
}

/* --------------------------------------------------------------------mobile -MAIN------------------------------------------*/
@media only screen and (max-width: 480px) {
  .hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 10px;
    padding-left: 2px;
    padding-bottom: 5px;
  }
  .hero-headline {
    font-size: 30px;
    font-weight: bolder;
    padding-left: 0;
    width: 80%;
  }
  .hero-section {
    margin-bottom: 0;
  }
  .hero-text {
    width: 80%;
    font-size: 15px;
    margin-top: 25px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-img {
    margin-top: -20px;
  }
  .btn-signup {
    font-size: 15px;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------         ---------------------------------------------------------------------------*/
/*-------------------------------------  ----------------------------------------------------------------------------------*/
/*-------------------------------------     -------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------  -----------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------Mobil-- FOOTER---------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  .copyrights {
    font-size: 10px;
    margin-top: -5px;
    margin-bottom: 10px;
  }
}

/*---------------------------------------------   --------  ----------------------------------------------------------------------*/
/*----------------------------------------------  -  ---  -  -----------------------------------------------------------------------*/
/*----------------------------------------------  --  -  --  -----------------------------------------------------------------------*/
/*----------------------------------------------  ---   ---  ------------------------------------------------------------------------*/
/*----------------------------------------------  ---------  -modal--------------------------------------------------------------------*/
.formData {
  margin-bottom: 10px;
}

.selectVille {
  padding-left: 4.78px;
}

#label1,
#label2 {
  margin-left: 10px;
  cursor: pointer;
}

.checkbox-label {
  cursor: pointer;
}

.hide {
  display: none;
}

/*----------------------------------------------tablette-MODAL message de fin---------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .contentFin {
    position: absolute;
    width: 100%;
    height: 650px;
    left: 1px;
    margin-top: 50px;
    font-weight: lighter;
  }
}

/*-------------------------------------------------mobile-MODAL message de fin----------------------------------------------------*/
@media only screen and (max-width: 480px) {
  .messageFin {
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contentFin {
    height: 650px;
    margin-left: -28px;
    margin-top: 50px;
    font-weight: lighter;
  }
  #label2 {
    margin-left: 28px;
  }
}

#location1 {
  display: block;
}

/*---------------------------------------tablette-MODAL formulaire-----------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  #label1 {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  #label2 {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  .checkbox-label {
    margin-left: 25px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------Mobile-MODAL formulaire---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  #label1 {
    -webkit-transform: translateX(-1px);
            transform: translateX(-1px);
  }
  #label2 {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  .checkbox-label {
    margin-left: 30px;
  }
  label {
    margin-top: 5px;
  }
  .formData label,
  .text-label {
    font-size: 13px;
  }
}
/*# sourceMappingURL=responsive.css.map */