/*création des breakpoints*/
$medium:480px !default; /*vue tablette*/
$large:1024px !default;/*vue desktop*/

/*création des variables media queries utilisant les breakpoints*/
$medium-up: "only screen and (min-width: #{$medium})";
$medium-down: "only screen and (max-width: #{$medium})";
$large-up: "only screen and (min-width: #{$large})";
$large-down: "only screen and (max-width: #{$large})";

//création variables
$primarycolor : #e54858;


/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------page d'accueil----------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/
/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/
/*-------------------------------------------          --------------------------------------------------------------------------*/
/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/
/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/
/*-------------------------------------------  ------  ---------------------------------------------------------------------------*/

// -------------------------------header-------------------------------------------------------------------------------------------

.header-logo img{  /* erreur w3c dans le html*/
  width: auto ;
  height:auto;
  
}

 /* -----------------------------------------------------------tablette header-----------------------------------------------------*/
 @media #{$large-down} {
  .main-navbar a{
    color: black;
    .fa{
      color: $primarycolor;
      &:hover{
        color: white;
      }
    }
    
  }
  .topnav a {   // menu burger
    font-size: 25px;
  }
}       
/* --------------------------------------------------------------mobile header---------------------------------------------*/
@media #{$medium-down} {
  .topnav a.icon{
    margin-top: 5px;
  }
  .header-logo img{
      width: 150px;
      
  }
  #myTopnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
     
     .topnav a {
       font-size: 20px;
     }
     .icon a{
      font-size: 20px;
    }
    .main-navbar a{
      color: black;
      .fa{
        color: $primarycolor;
        &:hover{
          color: white;
        }
      }
      
    }
        }
 /*---------------------------------------------   --------  ----------------------------------------------------------------------*/
/*----------------------------------------------  -  ---  -  -----------------------------------------------------------------------*/
/*----------------------------------------------  --  -  --  -----------------------------------------------------------------------*/
/*----------------------------------------------  ---   ---  ------------------------------------------------------------------------*/
/*----------------------------------------------  ---------  -main--------------------------------------------------------------------*/

/* --------------------------------------------------------------------tablette main-------------------------------------------*/
@media #{$large-down} {
  .hero-headline{ //titre
    font-size: 70px;
    font-weight: bolder; 
    
   }
}
/* --------------------------------------------------------------------mobile -MAIN------------------------------------------*/

@media  #{$medium-down} {
  .hero-content{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  padding-left: 2px;
  padding-bottom: 5px;
  }
  
.hero-headline{ //titre
 font-size: 30px;
 font-weight: bolder; 
 padding-left: 0;
 width: 80%;
}

.hero-section{ // section
  margin-bottom: 0;
}
.hero-text{ // texte
  width: 80%;
  font-size: 15px;
  margin-top: 25px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  }
.hero-img{ //img
  margin-top: -20px;
}

.btn-signup{
  font-size: 15px;
}

}

 /*-------------------------------------------------------------------------------------------------------------------------*/
 /*-------------------------------------         ---------------------------------------------------------------------------*/
 /*-------------------------------------  ----------------------------------------------------------------------------------*/
 /*-------------------------------------     -------------------------------------------------------------------------------*/
 /*--------------------------------------------------------------------------------------------------------------------------*/
  /*------------------------------------  -----------------------------------------------------------------------------------*/
  /*---------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------Mobil-- FOOTER---------------------------------------------------------------*/
@media #{$medium-down} {
.copyrights{
  font-size: 10px;
  margin-top:-5px ;
  margin-bottom: 10px;
}
}


 /*---------------------------------------------   --------  ----------------------------------------------------------------------*/
/*----------------------------------------------  -  ---  -  -----------------------------------------------------------------------*/
/*----------------------------------------------  --  -  --  -----------------------------------------------------------------------*/
/*----------------------------------------------  ---   ---  ------------------------------------------------------------------------*/
/*----------------------------------------------  ---------  -modal--------------------------------------------------------------------*/



/*----------------------------------------------tablette-MODAL message de fin---------------------------------------------------*/
@media #{$large-down} {
  .contentFin{
    position: absolute;
  }
}


/*-------------------------------------------------mobile-MODAL message de fin----------------------------------------------------*/

@media #{$medium-down} {
.messageFin{
font-size: 30px;
display: flex;
align-items: center;
justify-content: center;
}
.contentFin{ // modal du message de fin
 height: 650px;
width: 410px;
margin-left: -28px;
margin-top: 50px;
font-weight: lighter
}
}



/*---------------------------------------tablette-MODAL formulaire-----------------------------------------------------------------*/
@media #{$large-down} {  
  #label1{
      transform: translateX(-1px)
    }
    #label2{  
      transform: translateY(-5px);
  }
  .checkbox-label{
    margin-left: 25px;
  }
  }
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------Mobile-MODAL formulaire---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
@media #{$medium-down} {
  #label1{ //conditions
    transform: translateX(-1px)
  }
  #label2{  
    transform: translateY(-25px);
}
.checkbox-label{
  margin-left: 30px;
}
label{
  margin-top: 5px;
}
.formData label, .text-label{
  font-size: 13px;
}

}

